@import url("resets-navbar-footer.css");


/* ------------------ HEADER ------------------ */

header {
  display: flex;
  justify-content: space-between;
  position: relative;
  height: 80vh;
}
header .info-right {
  padding-top: 6rem;
  width: 50%;
  height: 100%;
  position: absolute;
  left: 50%;
}

header .info-right p {
  padding-left: 12rem;
  width: 700px;
}

header .info-left {
  width: 60%;
  height: 100%;
  -webkit-box-shadow: 10px 10px 25px -15px rgba(0,0,0,0.45);
  -moz-box-shadow: 10px 10px 25px -15px rgba(0,0,0,0.45);
  box-shadow: 10px 10px 25px -15px rgba(0,0,0,0.45);
  height: 100%;
}

header .info-left .hero-header {
  background: url('../img/surf5.jpg') center center/cover no-repeat;
  height: 100%;
  width: 100%;
}

/* ------------------ BASIC SURFING ------------------ */
#basic-surfing{
  min-height: 60vh;
}
#basic-surfing .container .infos {
  display: grid;
  grid-template-columns: repeat(2, auto);
  grid-auto-rows: minmax(150px, auto);
}

#basic-surfing .container .infos .row-header {
  text-transform: uppercase;
  font-weight: 500;
  text-align: right;
  width: 417px;
}

#basic-surfing .container .infos .info-box {
  height: 150px;
}

#basic-surfing .container .infos .row-info {
  width: 582px;
}

/* ------------------ INSTRUCTORS ------------------ */
#instructors{
  min-height: 100vh;
}
#instructors .container .instructors  {
  display: grid;
  grid-template-columns: repeat(2, 300px);
  grid-auto-rows: minmax(150px, auto);
  justify-content: center;
  grid-gap: 12rem;
}

#instructors .container .instructors .name-position {
  position: relative;
}

#instructors .container .instructors h4.name {
  position: absolute;
  top: 3rem;
  left: 16rem;
  font-family: 'Playfair Display', serif;
  font-weight: 200;
  font-size: 1.5rem;
}

#instructors .container .instructors .instructor-1 .instructor-img {
  background: #333 url("../img/cristian.jpg") no-repeat center center/cover;
  height: 400px;
}

#instructors .container .instructors .instructor-2 .instructor-img {
  background: #333 url("../img/kellin.jpg") no-repeat center right/cover;
  height: 400px;
}


#instructors .container .instructors .instructor-3 .instructor-img {
  background: #333 url("../img/victor.jpg") no-repeat center center/cover;
  height: 400px;
}

#instructors .container .instructors .instructor-4 .instructor-img {
  background: #333 url("../img/duckett.jpg") no-repeat center center/cover;
  height: 400px;
}